<div class="products">
        <div class="product" *ngFor="let item of products; trackBy: trackByFn">
            <mat-card>
                <img src="{{ item.image }}" alt="" class="product_image">
                
                <div class="description">
                    <!-- <ngb-rating [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating> -->
                    <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                    <p [routerLink]="['/products', item.id]" routerLinkActive="router-link-active" >{{ item.title }}</p>
                    <h4>Rs. {{ item.price }}</h4>
                </div>
            </mat-card>
        </div>
    <div class="progress" *ngIf="!loadCompleted">
        <mat-spinner></mat-spinner>
    </div>
</div>