.card-container {
    img{
        display: flex;
        margin: 10px auto;
        border-radius: 50%;
        height: 150px;
    }
    form {
        .names {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .passwords {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        div {
            mat-form-field {
                width: 235px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            button {
                border-radius: 0;
                border: none;
                outline: none;
                background-color: var(--primaryColor);
                color: white;
                margin-right: 20px;
                width: 150px;

                &:disabled {
                    background-color: gray;
                }
            }
            .clear {
                background-color: white;
                color: var(--primaryColor);
                outline: 1px solid var(--primaryColor);
            }
        }
    }
}
