<div class="footer_top">
    <div class="company">
        <img src="http://opencart.templatemela.com/OPC07/OPC070174/OPC1/image/catalog/footer_logo.png" alt="">
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="middle">
        <h3>INFORMATION</h3>
        <ul>
            <li>About Us</li>
            <li>Delivery Information</li>
            <li>Privacy Policy</li>
            <li>Site Map</li>
            <li>Contact Us</li>
        </ul>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="middle">
        <h3>EXTRAS</h3>
        <ul>
            <li>Brands</li>
            <li>Gift Certificates</li>
            <li>Affiliates</li>
            <li>Specials</li>
            <li>My Account</li>
            <li>Site Map</li>
        </ul>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="contact_us">
        <h3>CONTACT US</h3>
        <div class="info">
            <div class="icon">
                <mat-icon>place</mat-icon>
            </div>
            <div class="text">
                <p>Mega Computer Pvt. Ltd.
                    507, demo trade center, United Kingdom, UK, 123456</p>
            </div>
        </div>

        <div class="info">
            <div class="icon">
                <mat-icon>stay_current_portrait</mat-icon>
            </div>
            <div class="text">
                <span>071 123 4567</span>
            </div>
        </div>

        <div class="info">
            <div class="icon">
                <mat-icon>email</mat-icon>
            </div>
            <div class="text">
                <span>suport@gmail.com</span>
            </div>
        </div>
    </div>
</div>

<div class="footer_bottom">
    <span>Powered by WaiterBot Solutions &copy; 2021</span>
    <div class="pay_card">
        <img src="https://png.pngitem.com/pimgs/s/530-5302988_visa-mastercard-hd-png-download.png" alt="">
    </div>
</div>