.footer_top {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundLightGray);
    color: var(--textGray);
    padding: var(--globalMargin);
    line-height: 1.6rem;
    justify-content: space-between;

    .company {
        display: flex;
        flex-direction: column;
        width: 250px;
        img {
            width: 150px;
            margin-bottom: 15px;
        }
    }   
    
    .middle {
        h3 {
            color: black;
            font-weight: bold;
        }
        ul {
            padding-left: 0;
            list-style: none;
            li {
                &:hover {
                    color: var(--primaryColor);
                    cursor: pointer;
                }
                &:before {
                    content: '\2B9E';
                    margin-right: 10px;
                }
            }
        }
    }

    .contact_us {
        h3 {
            color: black;
            font-weight: bold;
        }
        .info {
            // align-items: center;
            display: flex;
            flex-direction: horizontal;
            margin-bottom: 5px;

            .icon > mat-icon {
                border: 1px solid var(--textGray);
                border-radius: 50%;
                font-size: 15px;
                text-align: center;
                padding: 15%;
                margin-right: 20px;
                display: inline;
            }
            .text {
                width: 200px;
            }
            

        }
    }
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--globalMargin);
    span {
        color: var(--textGray);
    }
    .pay_card > img{
        width: 150px;
        // height: 50px;
    }
}