<div class="header">
    <div class="header_top">
        <button mat-button [matMenuTriggerFor]="menu">
            <span>My Account</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button>
            <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
        </mat-menu>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button>Wish List</button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button>Checkout</button>

    </div>

    <div class="header_body">
        <div class="logo">
            <img src="http://opencart.templatemela.com/OPC07/OPC070174/OPC1/image/catalog/logo.png" alt="">
        </div>
        <div class="hotline_and_cart">
            <div class="hotline_icon">
                <mat-icon>phone_in_talk</mat-icon>
            </div>
            <div class="hotline">
                <h3>CALL US NOW</h3>
                <p>Hotline : 0123-456-789</p>
            </div>
            <div class="divider">
                <mat-divider [vertical]="true"></mat-divider>
            </div>
            <div class="cart_icon">
                <mat-icon matBadge="5">shopping_cart</mat-icon>
            </div>
        </div>
    </div>

    <div class="header_bottom">
        <div class="button_bar">
            <button mat-button routerLink='/'>HOME</button>
            <button mat-button>BRANDS</button>
            <button mat-button>SPECIALS</button>
            <button mat-button>CONTACT US</button>
            <button mat-button>BLOGS</button>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="Search" /> 
            <button mat-button>SEARCH</button>
        </div>
    </div>
</div>