.header_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    height: 60px;

    .button_bar > button {
        background-color: transparent;
        color: white;
        font-size: 16px;
        border-radius: 0;
        height: 100%; 
    }
    
    .button_bar > button:hover {
        background-color: #696969;
    }

    .search_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 10px;
    
        input {
            height: 50%;
            color: none;
            border: solid 1px white;
        }
    
        input:focus{
            outline: solid 1px blue;
        }
    
        button {
            border-radius: 0;
            border: none !important;
            outline: none !important;
            background-color: #2eb890;
            color: white;
        }
    }
}








