<div class="header">
    <div class="header_top">
        top
    </div>

    <div class="header_body">
        body
    </div>

    <div class="header_bottom">
        <div class="button_bar">
            <button mat-button>HOME</button>
            <button mat-button>BRANDS</button>
            <button mat-button>SPECIALS</button>
            <button mat-button>CONTACT US</button>
            <button mat-button>BLOGS</button>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="Search" /> 
            <button mat-button>SEARCH</button>
        </div>
    </div>
</div>