<div class="product" *ngIf="(product$ | async) as product">
<!-- <div class="product"> -->
    <div class="top">

        <div class="left">
            <div class="main_image">
                <img src="{{ product.image }}" alt="">
            </div>
            <div class="other_images">
                <carousel 
                [width]="250" 
                [height]="80" 
                [arrowsOutside]="true"
                [cellsToShow]="3">
                    <div class="carousel-cell">
                        <img src="{{ product.image }}" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="{{ product.image }}" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="{{ product.image }}" alt="">
                    </div>
                    <div class="carousel-cell">
                        <img src="{{ product.image }}" alt="">
                    </div>
                </carousel>
            </div>
    
        </div>
        <div class="right">
            <div class="title">
                <h3>{{ product.title}}</h3>
            </div>
            <div class="reviews">
                <span>stars</span>
                <span>1 reviews</span>
                <div class="write_review">
                    <mat-icon>edit</mat-icon>
                    <span>Write a review</span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="description">
                <p>Brands: Hewlett-Packard</p>
                <p>Product Code: Product 21</p>
                <p>Availability: In Stock</p>
            </div>
            <div class="price">
                <h3>Rs. {{ product.price }}/=</h3>
            </div>
            <mat-divider></mat-divider>
            <div class="cart">
                <span>Qty</span>
                <input type="number" value="1" min="1">
                <button mat-button> ADD TO CART</button>
            </div>
            <div class="wishlist">
                <mat-icon>favorite</mat-icon>
                <span>Add to Wish List</span>
            </div>
        </div>
    </div>

    <div class="tab_view">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="DESCRIPTION">{{ product.description }}</mat-tab>
            <mat-tab label="SPECIFICATION">Content 2</mat-tab>
            <mat-tab label="REVIEWS (x)">
                <div class="single_review">
                    <div class="user_and_date">
                        <div class="user">
                            <span>Janaka</span>
                        </div>
                        <div class="date">
                            <span>Jan 30, 2021</span>
                        </div>
                    </div>
                    <div class="comment">
                        <p>this is the review body, this is the review body, 
                            this is the review body
                        </p>
                        <span>***stars here **</span>
                    </div>
                </div>
                <div class="review_form">
                    <form [formGroup]="reviewForm" (submit)="onSubmit()">
                        <mat-form-field class="form_field" appearance="outline">
                            <mat-label>Your email</mat-label>
                            <input matInput type="email" formControlName="email" required>
                            <mat-error
                                *ngIf="reviewForm.controls.email.invalid">
                                <span *ngIf="reviewForm.controls.email.errors?.required">This field
                                    is required.</span>
                                <span *ngIf="reviewForm.controls.email.errors?.email">Check the email again.</span>
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field class="form_field" appearance="outline">
                            <mat-label>Your Review</mat-label>
                            <textarea matInput type="text" formControlName="description"></textarea>
                            <mat-error
                                *ngIf="reviewForm.controls.email.invalid">
                                <span *ngIf="reviewForm.controls.email.errors?.required">This field
                                    is required.</span>
                            </mat-error>

                        </mat-form-field>
                        <button mat-button type="submit">ADD REVIEW</button>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div class="progress" *ngIf="!(product$ | async)">
    <mat-spinner></mat-spinner>
</div>

<!-- 
    id:1,
            //title:'...',
            //price:'...',
            category:'...',
            //description:'...',
            //image:'...'
 -->