<div>
    <carousel 
        [images]="banners"
        [width]="915" 
        [height]="420" 
        [arrows]="false" 
        [cellsToShow]="1"
        [loop]="true"
        [overflowCellsLimit]="1"
        [dots]="true"
        [autoplay]="true">
<!-- 
        <div class="carousel-cell">
            <img src=""
                alt="">
        </div>
        <div class="carousel-cell">
            <img src=""
                alt="">
        </div>
        <div class="carousel-cell">
            <img src=""
                alt="">
        </div> -->
    </carousel>
</div>